$grey: #444444;
$lightgrey: #888888;
$lightestgrey: #F7F7F7;
$red: #CC0000;
$blue: #0000FF;
$gold: #BF9B30;
$lighterdark: rgba(25, 28, 31, 0.7);
$dark: rgba(25, 28, 31, 1);
$light: rgba(200, 200, 200, 0.6);
$white: rgba(255, 255, 255, 1);
